@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.header-top{
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 80%;
    position: relative;
}
.header-top span{
    opacity: 0.5;
}
.header-top a{
    color: white;
    text-decoration: none;
}
.header-top a:hover{
    opacity: 0.5;
    color: white;
}
.userDown{
    position: absolute;
    background-color: white;
    color: black;
    font-size: 16px;
    display: none;
    flex-direction: column;
    z-index: 1;
}   
.userDown a{
    background-color: white;
    color: black;
    padding: 10px;
}
.userDown a:hover{
    color: rgb(0, 204, 0);
    background-color: aliceblue;
}
.userInfor:hover .userDown{
    display: flex;
}
.count-cart{
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    right: 145px;
    top: 57px;
    color: white;
}
.store{
    color: orangered;
    padding: 20px;
    border-bottom: 3px solid orangered;
}
.items-store{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.3125rem;
    margin-left: 55px;
}
.products-content:hover{
    cursor: pointer;
    border: 1px solid rgb(255, 78, 14);
    transform: translateY(-1px);
}
.product-name {
    max-height: 25px;
    overflow-y: hidden;
    position: relative;
}
.product-name:after {
  content: '...';
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
}
footer{
    margin-top: 100px;
    background-color: #f5f5f5;
}
.footer1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    gap: 30px;
    color: #7fa8cc;
    margin-bottom: 75px;
    padding-top: 50px;
}
.footer1 span{
    opacity: 0.25;
}
.footer1 a{
    text-decoration: none;
    color: #7fa8cc;
}
.footer2{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.footer2-img{
    height: 50px;
}
.footer3{
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 30px;
}
.footer3 div:first-child{
    margin-bottom: 20px;
}