@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.header-top{
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 80%;
    position: relative;
}
.header-top span{
    opacity: 0.5;
}
.header-top a{
    color: white;
    text-decoration: none;
}
.header-top a:hover{
    opacity: 0.5;
    color: white;
}
.userDown{
    position: absolute;
    background-color: white;
    color: black;
    font-size: 16px;
    display: none;
    flex-direction: column;
    z-index: 1;
}   
.userDown a{
    background-color: white;
    color: black;
    padding: 10px;
}
.userDown a:hover{
    color: rgb(0, 204, 0);
    background-color: aliceblue;
}
.userInfor:hover .userDown{
    display: flex;
}
.count-cart{
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    right: 145px;
    top: 57px;
    color: white;
}
.main-product{
    display: flex;
    justify-content: center;
}
.main-product img{
    height: 500px;
    width: 500px;
}
.card-text{
    color: rgb(255, 94, 0);
    font-size: 32px;
    padding: 20px;
    background-color: #f7f7f7;
}
.add-cart {
    padding: 10px;
    margin-left: 20px;
    background-color: #ffeee8;
    color: #ef5333;
    text-decoration: none;
    border: 1px solid #ef5333;
    border-radius: 3px;
}
.add-cart:hover {
    cursor: pointer;
    background-color: rgb(255, 247, 248);
}
.buy {
    border-radius: 3px;
    background-color: #ee4d2d;
    color: #ffffff;
    padding: 10px 55px;
    text-decoration: none;
}
.buy:hover {
    cursor: pointer;
    background-color: #ff684a;
}
.quantity-product{
    display: flex;
    gap: 100px;
    font-size: 20px;
}
.amount-product{
    width: 50px;
    margin-left: 50px;
    text-align: center;
}
footer{
    margin-top: 100px;
    background-color: #f5f5f5;
}
.footer1{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    gap: 30px;
    color: #7fa8cc;
    margin-bottom: 75px;
    padding-top: 50px;
}
.footer1 span{
    opacity: 0.25;
}
.footer1 a{
    text-decoration: none;
    color: #7fa8cc;
}
.footer2{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.footer2-img{
    height: 50px;
}
.footer3{
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 30px;
}
.footer3 div:first-child{
    margin-bottom: 20px;
}